<h1>Processos da Simulação</h1>

<p>Os processos da simulação são apresentados a seguir.</p>

<p *ngIf="!processos"><em>Loading...</em></p>

<table class='table table-striped' *ngIf="processos">
  <thead>
    <tr>
      <th>ID</th>
      <th>Chegada</th>
      <th>Tempo de CPU</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let processo of processos">
      <td>{{ processo.id }}</td>
      <td>{{ processo.proxChegada }}</td>
      <td>{{ processo.tempoCPU }}</td>
    </tr>
  </tbody>
</table>
