<button (click)="simular()" style="border-radius: 5px; background-color: #002766; border: none; color: white">&#8883; Simular</button>
<div id="chartContainer" style="width: 100%; height: 400px;"></div>


<div style="text-align: center">
  <b style="background-color: #adadad">&nbsp;&nbsp;&nbsp;&nbsp;</b> Processo em Fila de Baixa Prioridade
  <b style="background-color: #4c4c4c">&nbsp;&nbsp;&nbsp;&nbsp;</b> Processo em Fila de Alta Prioridade
  <b style="background-color: blue">&nbsp;&nbsp;&nbsp;&nbsp;</b> Processo Executando
  <b style="background-color: red">&nbsp;&nbsp;&nbsp;&nbsp;</b> Processo em Disco
  <b style="background-color: orange">&nbsp;&nbsp;&nbsp;&nbsp;</b> Processo em Fita Magnética
  <b style="background-color: yellow">&nbsp;&nbsp;&nbsp;&nbsp;</b> Processo na Impressora
  <b style="background-color: #000000">&nbsp;&nbsp;&nbsp;&nbsp;</b> Processo em Fila de IO

</div>

<br />

<div>
  <h2 style="text-align: center">Detalhes da simulação</h2>
  <table class='table table-striped' *ngIf="processos">
    <thead>
      <tr>
        <th>ID</th>
        <th>Chegada</th>
        <th>Tempo de CPU</th>
        <th>Turnaround</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let processo of processos">
        <td>{{ processo.id }}</td>
        <td>{{ processo.chegada }}</td>
        <td>{{ processo.tempoCPU }}</td>
        <td>{{ processo.turnAround }}</td>
      </tr>
    </tbody>
  </table>
</div>
